
@use '../../styles/partials/variables' as *;
@use "../../styles//partials/mixins" as *;

.icon{
    max-width: 1.5rem;

}


.book-details{


    &__container{
        background-color: antiquewhite;
        margin: 2rem;
        border-radius: 4px;
        @include tablet{
            margin: 4rem;
            @include desktop{
                margin: 4rem;
                margin-left: 8rem;
                margin-right: 8rem;
            }

        }
    }

    &__notes-bigcontainer{
        width: 100%;
        
    }

    &__notes-container{
        margin-bottom: 0.5rem;
        margin-top: 1rem;
        background-color: white;
        min-height: 5rem;        
    }

    &__notes{
        padding: 1rem;
    }

    &__button-container{
        width: 100%;
        gap: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.button{
    background-color: $yellow;
    border-radius: 4px; 
    min-width: 2rem;

}