@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header{
    position: sticky;
    z-index:1000;
    top: 0px;
    display: flex;
    background-color: $yellow;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    min-height: 10vh;

    @include tablet{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        font-size: larger;
       
    }
    &__logo{
      text-decoration: none;
      font-weight: bold;
      padding: 1rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: 1.2rem;
      justify-self: flex-start;
      
      color: rgb(0, 0, 0);
        @include tablet{
            justify-content: center;
    
        }
     
    }
    &__logo-link{
        align-self: flex-start;
        text-decoration: none;
    }
    &__nav-links{
   
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
     
        
        @include tablet{
            justify-content: center;
        }
     
    }
    &__nav-link{
        display: flex;
        color: white;
        font-size: 1rem;
        text-decoration: none;
        text-align: center;
        border-radius: 50px;
        min-width: 150px;
        min-height: 3rem;
        background-color: black;
        border-radius: 4px;
       
     
        //on hover
        &:hover{
            text-decoration: underline;
        }
        
        &--selected{
            color: $white;
            background-color: $black;
         
            @include tablet{
                
            }
            @include desktop{
                padding-bottom: 0;
            }
        }
    }

    &__nav-link-text{
        justify-self: center;
        height: 100%;
        width: 100%;
        align-self: center;
       
    }
}

.active{
    text-decoration: none;
}