@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.user {
    padding: 0;

&__title-badge-container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    @include tablet{
        flex-direction: row;
        justify-content: space-between;

    }
}
    &__list-wrapper {
        margin: 2rem;
        background-color: antiquewhite;
        border-radius: 10px;
        padding: 1rem;

        @include tablet{
            margin: 2rem;
            @include desktop{
                margin: 4rem;
            }
        }
    }

    &__subtitle {
        border-bottom: 2px solid $yellow;

    }
    &__badge{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: 1px solid $yellow;
        gap: 1rem;
        padding-left: 0.5rem;
    }
    &__books-finished{
        display: flex;
        font-weight: bold;
        font-size: xx-large;
        align-items: center;
        justify-content: center;
    }
    &__books-finished-text{
        width: 100%;
        text-align: center;
    }
}

.books {

    &__wrapper {
        transition: transform .5s ease;
        width: 100%;
        margin: 0;

        &:hover {
            transform: scale(1.05);
        }

        @include tablet{
            width: 70%;
            @include desktop{
                width: 50%;
            }
        }

    }

    &__container {
        max-width: 30%;
        text-decoration: none;
        color: black;
        font-weight: bold;

        @include tablet {
            max-width: 20%;

            @include desktop {
                max-width: 20%;
            }

        }
    }

    &__image-container {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        margin: 0;
        padding-bottom: 1rem;
        justify-content: flex-start;

        @include tablet {
            gap: 1rem;
            @include desktop{
                width: 100%;
                padding: 2rem;
                justify-content: flex-start;
            }
        }


    }

    &__image {
        filter: drop-shadow(15px 5px 4px #88888d);
        transition: transform .3s ease;
        aspect-ratio: 9 / 16;
        width: 100%;

        &:hover {
            transform: scale(1.05);

        }

        @include tablet {
            width: 80%;
            
        }

        
    }
}

.badge{
    max-width: 100px;
    background-color: $yellow;
    border-radius: 50%;
    transition: transform .7s ease-in-out;

    &:hover{
        transform: rotate(360deg);
    }
}